/* 

Mitsunaga Robot - Theme

*/

body {
    padding: 1rem;
    font-family: Arial, sans-serif;
    background-color: lightblue;
    margin: 0;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "title content"
        "title credits";
    gap: 1rem;
    margin: 2rem;
    padding: 1.5rem;
}

header {
    grid-area: title;
    padding-right: 1rem;
    align-self: start;
}

main {
    grid-area: content;
    line-height: 1.5;
}

footer {
    grid-area: credits;
    color: gray;
    font-size: 0.9rem;
}

h1 {
    font-size: 4rem;
    color: #336699;
    margin-top: 0;
}

header p {
    text-align: center;
    color: #336699;
}